@charset "UTF-8";

body, html{
    background-color: rgb(102, 215, 219);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: aliceblue;
}

section{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    margin: auto;
}
footer{
    color: white;
    font-size: 1.3em;
    text-align: center;
}